.ColorBox {
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 0 20%;
  height: 25%;
  margin: 0 auto;
  display: flex;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.75rem;
  background-color: currentColor;
}

.copy-button {
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;
  color: white;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
  opacity: 0;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.ColorBox:hover .copy-button {
  opacity: 1;
}

.box-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  color: black;
  letter-spacing: 1px;
}

.see-more {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.2rem 0.3rem;
}

.ColorBox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  width: 0px;
  height: 0px;
  transform: scale(0);
  opacity: 1;
  z-index: 10;
  transition-duration: 0.6s;
  transition-property: transform, width, height;
  transform: translate(-50%, -50%);
  background-color: currentColor;
  border-radius: 4000px;
}

.ColorBox.show::before {
  transform: scale(60);
  width: 50px;
  height: 50px;
}

.copy-overlay-text {
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.4s ease-in-out;
  visibility: hidden;
}
.copy-overlay-text h1 {
  font-size: 4rem;
  margin: 1rem;
}
.copy-overlay-text span {
  font-weight: 200;
  font-size: 1.2rem;
}
.copy-overlay-text.show {
  opacity: 1;
  z-index: 10;
  visibility: visible;
  transition-delay: 0.2s;
}
